nav > ul {
  list-style: none;
  margin: 0;
}

nav li {
  display: inline-block;
  margin: 0 10px;
}

nav a {
  text-decoration: none;
  color: inherit;
}

header {
    margin: 0;
    background-color: #222;
    padding: 10px;
}

body {
  margin: 0;
  color: #eee;
  background-color: #333;
}

#thriller-img {
    margin: 10px auto;
    display: block;
    width: 200px;
    height: auto;
    border: 1px solid white;
}

.text-center {
    text-align: center;
}